.simple-text.logo-normal {
    font-size: 16px;
    line-height: 40px !important
}

.internal-table td {
    border: unset;
    padding: 0;
}

.table .actions-col {
    text-align: center;
    font-style: italic;
}

.table .actions-col button {
    background: unset;
    border: unset;
    color: #ba54f5;
    font-weight: 300;
    font-style: italic;
}

.table .actions-col button:hover {
    color: #e14eca;
    cursor: pointer;
}

.role-checkbox span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 0.75rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

.role-checkbox input[type="checkbox"] {
    left: 0;
    top: 0;
    opacity: 0; /* Hide the default checkbox */
    cursor: pointer;
}

/* Style the custom checkbox */
.role-checkbox input[type="checkbox"] + span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border: 1px solid #666;
    border-radius: 5px;
}

.role-checkbox input[type="checkbox"]:checked + span::after {
    background-color: #e14eca;;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.add-button {
    text-transform: uppercase;
    font-style: italic;
}

.show-file-select.form-group input[type=file] {
    opacity: 1;
}

.form-group select option {
    background: #27293d;
}

.red {
    color: red !important;
}

.green,
.table > tbody > tr > td.green {
    color: limegreen !important;
}

.purple,
.table > tbody > tr > td.purple{
    color: #e14eca !important;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../img/icon-calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.modal-body select,
.modal-body select option,
.modal-body optgroup{
    color: #222a42;
    background: initial;
}

.card-tasks {
    height: auto !important;
}


